.info-title.fees {
  margin-bottom: 2rem;
}

.info-title.fees.paypal {
  margin-bottom: 1rem;
}

.page-title-p.fees {
  font-size: clamp(1rem, 2.2vw, 0.75rem);
}

.info-text .heading p {
  font-weight: 700;
}

.info-text .line.heading.second {
  margin-top: 1rem;
}

@media screen and (orientation: landscape) and (max-width: 1366px) {
  .page-title-p.fees {
    font-size: clamp(0.5rem, 2.2vw, 0.75rem);
  }

  .info-title.fees {
    margin-bottom: 1rem;
  }

  .info-title.fees.paypal {
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1921px) {
  .info-title.fees {
    margin-bottom: 1.2rem;
  }

  .info-title.fees.paypal {
    margin-bottom: 1rem;
  }

  .page-title-p.fees {
    font-size: clamp(0.8rem, 2.2vw, 0.75rem);
  }
}
